.content-container {
    margin: 1rem;
}

.single-post {
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    padding: 1rem;
}

.username-display {
    font-weight: 600;
    margin-bottom: .5rem;
}

.timestamp-display {
    font-size: .8rem;
    opacity: .75;
}

.button-space {
    margin-top: .5rem;
}

.follower-count-section {
    display: flex;

}

.follower-count-span {
    margin-right: 1rem;
}


.step-links {
    display: flex;
    justify-content: space-around;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.top-layer {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.submit-button {
    margin-left: .5rem;
    margin-top: .5rem;
    height: 3rem;
}

.post-content-textarea {
    margin-top: .5rem;
    width: 100%;
    height: 100%;
}

.edit-form {
    display: flex;
    
}

.like-button {
    border: none;
    width: fit-content;
    background: none;
    color: blue;
}